<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <th scope="row">{{user.id}}</th>
                    <td>
                        <button class="btn btn-link" (click)="onMenu(user)">{{user.name}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>